@page "/Home"
@model PRN221_Project.Pages.Classes.ManagementModel
@{
    ViewData["Title"] = "Class Management";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Import CSV file:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>

        <form method="post">
            <div class="form-group">
                <label for="txtClass">Class:</label>
                <input type="text" id="txtClass" class="form-control" asp-for="Calendar.Class">
            </div>
            <div class="form-group">
                <label for="txtSubject">Subject:</label>
                <input type="text" id="txtSubject" class="form-control" asp-for="Calendar.Subject">
            </div>
            <div class="form-group">
                <label for="txtTeacher">Teacher:</label>
                <input type="text" id="txtTeacher" class="form-control" asp-for="Calendar.Teacher">
            </div>
            <div class="form-group">
                <label for="txtRoom">Room:</label>
                <input type="text" id="txtRoom" class="form-control" asp-for="Calendar.Room">
            </div>
            <div class="form-group">
                <label for="txtTime">Time:</label>
                <input type="text" id="txtTime" class="form-control" asp-for="Calendar.TimeSlot">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th>TimeSlot</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Calendars)
                {
                    <tr>
                        <td>@item.Class</td>
                        <td>@item.Subject</td>
                        <td>@item.Teacher</td>
                        <td>@item.Room</td>
                        <td>@item.TimeSlot</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="@item.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>
</body>
</html>
