@page "/Home"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN221_Project.Pages.Classes.ManagementModel
@{
    ViewData["Title"] = "Class Management";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Import CSV file:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>

        <form asp-page-handler="Add" method="post">
            <div class="form-group">
                <label for="txtClass">Class:</label>
                <input type="text" id="txtClass" name="txtClass" class="form-control">
            </div>
            <div class="form-group">
                <label for="txtSubject">Subject:</label>
                <input type="text" id="txtSubject" name="txtSubject" class="form-control">
            </div>
            <div class="form-group">
                <label for="txtTeacher">Teacher:</label>
                <input type="text" id="txtTeacher" name="txtTeacher" class="form-control">
            </div>
            <div class="form-group">
                <label for="txtRoom">Room:</label>
                <input type="text" id="txtRoom" name="txtRoom" class="form-control">
            </div>
            <div class="form-group">
                <label for="txtTime">Time:</label>
                <input type="text" id="txtTime" name="txtTime" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th>TimeSlot</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Calendars)
                {
                    <tr>
                        <td>@item.Class</td>
                        <td>@item.Subject</td>
                        <td>@item.Teacher</td>
                        <td>@item.Room</td>
                        <td>@item.TimeSlot</td>
                        <td>
                            <form asp-page-handler="Delete" method="post">
                                <input type="hidden" name="id" value="@item.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
